<!-- _step1.html.erb -->
<div class="form-inputs">
  <div class="row">
    <div class="input-column">
      <%= f.input :password, label: "Password" %>
    </div>
    <div class="input-column">
      <%= f.input :confirm_password, label: "Comfirm Password" %>
    </div>
  </div>
</div>
