<!-- _step1.html.erb -->
<div class="form-inputs">
  <div class="row">
    <div class="input-column">
      <%= f.input :first_name, label: "First Name" %>
    </div>
    <div class="input-column">
      <%= f.input :last_name, label: "Last Name" %>
    </div>
  </div>
</div>
