<div id="<%= dom_id location %>">
  <p>
    <strong>Region:</strong>
    <%= location.region %>
  </p>

  <p>
    <strong>Residence:</strong>
    <%= location.residence %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= location.active_status %>
  </p>

</div>
